@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Category;
@using RecipeBook.Models;
@using System.Collections.Generic;

<h2>@Model.Name Cuisine Details</h2>


@if (@Model.Recipes.Count == 0)
{
  <p>This category does not contain any recipes</p>
}
else
{
  <h4>Recipes</h4>
  <ul>
  @foreach (Recipe recipe in Model.Recipes)
    {
      string tags = "";
      @if (recipe.JoinEntities.Count == 0)
      {
        tags = "This recipe does not have any tags.";
      }
      else
      {
        List<string> tagList = new List<string>();
        @foreach (RecipeTag join in recipe.JoinEntities)
        {
          tagList.Add(join.Tag.Title);
        }
        tags = String.Join(", ", tagList);
      }
      <li class="lists"> @Html.ActionLink($"{recipe.Name}", "Details","Recipes", new { id = recipe.RecipeId }) | Tags: @tags</li>
    }
  </ul>
}
<div class="navlinks four-links">
  <p>@Html.ActionLink("All Categories", "Index")</p>
  <p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</p>
  <p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</p>
  <p>@Html.ActionLink("Add New Recipe", "Create", "Recipes")</p>
</div>
