@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Category

<h2>Edit @Model.Name</h2>

<div class="form">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.CategoryId)

    <div class="form-block">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)
    </div>

    <div class="form-block">
      <input type="submit" class="btn btn-outline-dark" value="Save" />
    </div>
  }
</div>

<div class="navlinks">
  <p>@Html.ActionLink("All Categories", "Index")</p>
</div>
