@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Recipe

<h2>Add a Tag for @Model.Name</h2>
<div class="form">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.RecipeId)

    <div class="form-block">
      @Html.Label("Select tag")
      @Html.DropDownList("TagId", (SelectList)ViewBag.TagId)
    </div>
    <div class="form-block">
      <input type="submit" class="btn btn-outline-dark" value="Save" />
    </div>
  }
</div>
<div class="navlinks">
  <p>@Html.ActionLink("My Recipes", "Index")</p>
</div>