@{
  Layout = "_Layout";
}

@using RecipeBook.Models
@model RecipeBook.Models.Recipe

<h2>@Model.Name</h2>
<p>Ingredients: @Model.Ingredients</p>
<p>Instructions: @Model.Instructions</p>
@if (@Model.JoinEntities.Count == 0)
{
  <p>@Model.Name does not have any tags yet!</p>
}
else
{
  <h4>This recipe has the following tags:</h4>
  @foreach (RecipeTag join in Model.JoinEntities)
  {
    <ul>
  <li class="lists">Tag: @join.Tag.Title</li>
    </ul>
    @using (Html.BeginForm("DeleteJoin", "Recipes"))
    {
      @Html.Hidden("joinId", @join.RecipeTagId)
      <input type="submit" class="btn btn-outline-dark" value="Delete" />
    }
  }
}

@if (@Model.User != null && User.Identity.Name == @Model.User.UserName || User.IsInRole("Admin"))
{
  <div class="navlinks four-links">
  <p>@Html.ActionLink("My Recipes", "Index")</p>
    <p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
    <p>@Html.ActionLink("Tag Recipe", "AddTag", new { id = Model.RecipeId })</p>
    <p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>
  </div>
}
else
{
  <div class="navlinks">
  <p>@Html.ActionLink("My Recipes", "Index")</p>
  </div>
}
