@{
  Layout = "_Layout";
}

@using RecipeBook.Models;
@using System.Collections.Generic;

<h2>Popular Recipes</h2>
@foreach (Recipe recipe in Model)
{
  <div class=recipe-box>
  <h5 class="recipe-name">@Html.ActionLink(@recipe.Name, "Details", "Recipes", new { id = @recipe.RecipeId })</h5>
    <p class="recipe-tags">Made with: @recipe.Ingredients </p>
  </div>
}
<hr />

<div class="splash-container">
  @using (Html.BeginForm("Index", "Recipes", FormMethod.Get))
  {
    <button type="submit" class="navlinks-home">@Html.ActionLink("My Recipes", "Index", "Recipes")</button>
  }<br />
  @if (User.Identity.IsAuthenticated)
  {
    <h4>Recipes for @User.Identity.Name</h4>

    <ul>
      @{
        int count = 0;
        foreach (Recipe recipe in Model)
        {
          if (recipe.User.UserName == User.Identity.Name)
          {
            <li class="lists">@Html.ActionLink(@recipe.Name, "Details", "Recipes", new { id = @recipe.RecipeId })</li>
            count++;
          }
        }
        if (count == 0)
        {
          <p>You don't have any recipes added yet!</p>
        }
      }
    </ul>
  }
  else
  {
    <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your recipes.</p>
  }
</div>
