@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Tag

<h2>Add an Recipe for @Model.Title</h2>

<div class="form">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TagId)
    <div class="form-block">
      @Html.Label("Select recipe")
      @Html.DropDownList("RecipeId")
    </div>
    <div class="form-block">
      <input type="submit" value="Add Machine" />
    </div>
  }
</div>
<div class="navlinks">

<p>@Html.ActionLink("Show all Tags", "Index")</p>
</div>